---
// src/components/Card.astro
const { image, title, content, direction } = Astro.props;
---

<style>
	.card {
		max-width: 45%; /* Less than half the screen width */
		background-color: #1a1a1a;
		border: 1px solid #6b5b95;
		border-radius: 10px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		overflow: hidden;
		margin: 2rem; /* Adjust margin for more spacing */
		display: flex;
		flex-direction: row;
	}

	.card img {
		width: 50%;
		height: auto;
		border-bottom: 1px solid #6b5b95;
	}

	.card-content {
		padding: 1rem;
	}

	.card-title {
		font-size: 1.5rem;
		font-weight: 700;
		color: #ffd700;
		margin-bottom: 0.5rem;
	}

	.card-text {
		font-size: 1rem;
		color: #f0f0f0;
	}
</style>

<div class={`card ${direction}`}>
	<img src={image} alt={title} />
	<div class="card-content">
		<h5 class="card-title">{title}</h5>
		<p class="card-text">{content}</p>
	</div>
</div>
